/*

                                            FONTS

*/

$fontPrimary: hsl(217, 19%, 35%);
$fontSecundary: hsl(214, 17%, 51%);
$fontTerciary: hsl(212, 23%, 69%);
$fontFamily: "Manrope";
$fontSize: 13px;
$fontWeightPrimary: 500;
$fontWeightSecundary: 700;

/*

                                            BODY

*/

$bgColor: hsl(210, 46%, 95%);